<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from !</p>
    <p>
    Order details<br>
    --------------------------
    </p>
        <h1>Your price reached <%= @alert_price %> updation<h1>
    <p>
    Message:<br>
    ----------
    </p>
    <p>You price has been updated</p>
  </body>
</html>